::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: rgb(255, 0, 0);
  }

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
