{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-5">
    <h3> List of employees </h3>
    <div style="float:left; height:384px; overflow:auto;">
      <ol>
        {%for u in users %}
        <li> <a class="userlink" href="{{url_for('employee_details', empid=u.id)}}">{{u.first_name}} {{u.last_name}}</a>
        </li>
        {%endfor%}
      </ol>
    </div>
  </div>
  <div class="col-7" id="usercol">
    <span class="info"></span>
    <div class="flash-messages">
      {% with messages = get_flashed_messages()%}
      {% if messages%}
      {% for message in messages%}
      <div class="alert alert-info" role="alert">
        {{message}}
      </div>
      {%endfor%}
      {%endif%}
      {%endwith%}
    </div>
    <div id="userdetail"></div>
    <div class="btn-group position-absolute bottom-0 end-0" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary prev navigation-btn" style="display: none;">Previous</button>
      <button type="button" class="btn btn-secondary next navigation-btn" style="display: none;">Next</button>
    </div>
  </div>
</div>
{% endblock %}